<h4>Inscrição Dia de Treinamento.</h4>

<p>Evento: HTTP & UX</p>
<p>Nome: <%= "#{@inscricao['nome']}"  %></p>
<p>Email: <%= "#{@inscricao['email']}" %></p>
<p>Empresa: <%= "#{@inscricao['empresa']}" %></p>
<p>Instituição: <%= "#{@inscricao['instituicao']}" %></p>