<h4>Inscrição Dia de Treinamento.</h4>

<p>Evento: Desenvolvimento Mobile: Iniciando com aplicativos híbridos</p>
<p>Nome: <%= "#{@inscricao['nome']}"  %></p>
<p>Email: <%= "#{@inscricao['email']}" %></p>ev = 