<section class="compartilhamento-redes-sociais">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <%= render_shareable :buttons=> ['twitter', 'facebook', 'tumblr'] %>
  </div>
</section>