html, body {
  font-family: "Arial" !important;
  overflow-x: hidden;
}

.img-responsive {
  display: inline !important;
}

.navbar {
  margin-bottom: 0px !important;

  .label-evento {
    margin: 17px 0 0 5px;
    color: #666;
  }

  .navbar-nav {
    li:last-child {
      padding-right: 5px;
    }
  }

}

.apresentacao {
  padding: 0 0 40px 0;
  box-shadow: #000 0px 1px 5px;
  position: relative;
  z-index: 1;
}

.infos {
  background: #d24a2c;
  color: #EEE;
  font-family: "Arial";
  font-size: 28px;
  padding: 20px 0px;
}

.inscricao {
  background: #333;
  padding: 30px 0;
  box-shadow: #000 0px -1px 5px;
  position: relative;
  z-index: 1;
  color: #FFF;
}

.organizadores {
  padding: 30px 0 50px 0;
  .logo {
    max-height: 50px;
    margin: 5px 15px;
  }
}

header {
  .menu-events {
    margin-right: 120px;
  }
}

footer {
  background: #222;
  color: #FFF;
  padding: 10px 0;
}


.clean-code {
  .apresentacao {
    background: image-url("pattern.jpg");
    font-family: 'Gloria Hallelujah', cursive;

    .tema {
      font-size: 80px;
      color: #4ba8dc;
    }

    .img-clean-code {
      width: 80%;
    }

  }

  .infos {
    background: #d24a2c;
  }

}

.desenvolvimento-mobile {

  .apresentacao {
    background: #337ae4;
    color: #FFF;
    font-family: 'Nunito', sans-serif;

    a, small {
      color: #FFF;
    }

  }
}

.http-ux {
  .apresentacao {
    background: image-url("http_ux/bg.jpg") center no-repeat;
    background-size: auto 100%;
    background-color: #000;
    color: #FFF;

    h1, h3 {
      font-family: 'Gloria Hallelujah', cursive;
    }
    h1 {
      font-size: 75px;
    }
    .ux {
      h1 {
        font-size: 170px !important;
      }
    }
    .palestrante {
      margin-top: 60px;
    }
    h4, h5 {
      font-family: "Nunito";
    }
  }
}

.realidade-virtual {
  .apresentacao {
    background: image-url("realidade_virtual/bg.png") center no-repeat;
    background-size: cover;
    background-color: #000;
    color: #333;

    h1, h3 {
      font-family: 'Gloria Hallelujah', cursive;
    }
    h1 {
      font-size: 75px;
    }
    .ux {
      h1 {
        font-size: 170px !important;
      }
    }
    .palestrante {
      margin-top: 20px;
    }
    h4, h5 {
      font-family: "Nunito";
    }
  }
}


.html5-no-desktop {
  .apresentacao {
    background-color: #45527b;
    color: #EEE;
  }

}